In [12]:
import pandas as pd
import io
from datasets import load_dataset
from sklearn.model_selection import train_test_split

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

df = pd.read_csv('data/pcc.csv')

In [35]:
df_drug_review = load_dataset('lewtun/drug-reviews', split='train')
df_drug_review_test = load_dataset('lewtun/drug-reviews', split='test')
df_drug_review = df_drug_review.to_pandas()
df_drug_review_test = df_drug_review_test.to_pandas()
df_drug_review = pd.concat([df_drug_review, df_drug_review_test])
df_drug_review.head()
df_drug_review_test.head()

,Unnamed: 0,drugName,condition,review,rating,date,usefulCount
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9.0,"May 20, 2012",27
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8.0,"April 27, 2010",192
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5.0,"December 14, 2009",17
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8.0,"November 3, 2015",10
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9.0,"November 27, 2016",37

,Unnamed: 0,drugName,condition,review,rating,date,usefulCount
0,163740,Mirtazapine,Depression,"""I&#039;ve tried a few antidepressants over th...",10.0,"February 28, 2012",22
1,206473,Mesalamine,"Crohn's Disease, Maintenance","""My son has Crohn&#039;s disease and has done ...",8.0,"May 17, 2009",17
2,159672,Bactrim,Urinary Tract Infection,"""Quick reduction of symptoms""",9.0,"September 29, 2017",3
3,39293,Contrave,Weight Loss,"""Contrave combines drugs that were used for al...",9.0,"March 5, 2017",35
4,97768,Cyclafem 1 / 35,Birth Control,"""I have been on this birth control for one cyc...",9.0,"October 22, 2015",4

In [33]:
len(df_drug_review['drugName'].unique()), len(df_drug_review['condition'].unique())
top_30_classes = df_drug_review['condition'].value_counts().nlargest(30).index.tolist()

df_drug_review = df_drug_review[df_drug_review['condition'].isin(top_30_classes)]
df_drug_review = df_drug_review[['drugName', 'condition']].drop_duplicates()
len(df_drug_review['drugName'].unique()), len(df_drug_review['condition'].unique())
len(df_drug_review)

(3671, 917)

(1353, 30)

1978

In [18]:
df = pd.read_csv('./data/entity_datasets/drug.csv')
df.head()
len(df), len(df['condition'].unique())
df[df['drugName'] == 'Guanfacine']['condition'].unique()

,drugName,condition,review,rating,date,usefulCount,is_test,cat
0,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8.0,"April 27, 2010",192,False,0
1,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5.0,"December 14, 2009",17,False,6
2,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8.0,"November 3, 2015",10,False,6
3,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9.0,"November 27, 2016",37,False,21
4,Levonorgestrel,Emergency Contraception,"""He pulled out, but he cummed a bit in me. I t...",1.0,"March 7, 2017",5,False,12

(144067, 30)

array(['ADHD', 'High Blood Pressure'], dtype=object)

In [38]:
df_drug = pd.read_csv('drugbank.csv')
overlap_df = df_drug[df_drug['dg_name'].isin(df_drug_review['drugName'].unique())]
len(overlap_df), len(overlap_df['dg_name'].unique())
len(df_drug), len(df_drug['dg_name'].unique()), len(df_drug['target_gene_name'].unique())
top_30_genes = df_drug['target_gene_name'].value_counts().nlargest(30).index.tolist()
df_drug = df_drug[df_drug['target_gene_name'].isin(top_30_genes)]
len(df_drug), len(df_drug['dg_name'].unique()), len(df_drug['target_gene_name'].unique())

(3368, 797)

(14941, 6047, 2793)

(2534, 1510, 30)

In [9]:
df_tr = df[df['is_test'] == False]
df_te = df[df['is_test'] == True]
len(df_tr), len(df_te)

df_tr.head()
df = df.sample(frac=0.01).reset_index(drop=True)
df_tr = df[df['is_test'] == False]
df_te = df[df['is_test'] == True]
len(df_tr), len(df_te)

df.to_csv('data/entity_datasets/pcc.csv', index=False)

(4999984, 195633)

,Name,SMILES,No. C,No. N,No. O,is_test
0,"2-[Bis(3,5-dibromo-4-hydroxy-2-methylphenyl)hy...",Cc1c(C(O)(c2ccccc2S(=O)(=O)O)c2cc(Br)c(O)c(Br)...,21.0,0.0,6.0,False
1,"1,1',1''-(1,3,5,5-Tetramethyl-1-pentene-1,3,5-...",C/C(=C/C(C)(CC(C)(C)c1ccccc1)c1ccccc1)c1ccccc1,27.0,0.0,0.0,False
2,"3-Potassiopentane-2,4-dione",CC(=O)C=C(C)[O].[K],5.0,0.0,2.0,False
3,Benzenesulfonic acid ammonium salt,[NH3+]O[S+]([O])(=O)c1ccccc1,6.0,1.0,3.0,False
4,3-Methyl-4-phenyl-3-butenoic acid sodium salt,C/C(=C\c1ccccc1)CC(=O)[O-].[Na+],11.0,0.0,2.0,False

(50000, 1956)